<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="software.cm.crazytower">

    <!-- PERMISOS HOTSPOT -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".aplicacion.AplicacionEncarga"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Fullscreen">

        <!-- android:theme="@style/AppTheme"> -->

        <service
            android:name=".servicios.ServicioMonitoreoConexiones"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".servicios.ServicioBluetooth"
            android:enabled="true"
            android:exported="true" />

        <!-- ****** -->
        <!-- SPLASH -->
        <!-- ****** -->
        <activity
            android:name=".actividades.CrazyTowerSplash"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.ActividadBaseEncarga"></activity>

        <activity android:name=".actividades.ActividadEsperaDeviceOwner"
            android:screenOrientation="sensorLandscape"/>

        <!-- **** -->
        <!-- HOME -->
        <!-- **** -->
        <activity
            android:name=".actividades.CrazyTowerHome"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- ******** -->
        <!-- ENCUESTA -->
        <!-- ******** -->
        <activity
            android:name=".actividades.encuesta.ActividadEncuesta"
            android:screenOrientation="sensorLandscape" />

        <!-- ********* -->
        <!-- SERVICIOS -->
        <!-- ********* -->
        <activity
            android:name=".actividades.ActividadServicios"
            android:label="@string/title_activity_actividad_servicios"
            android:screenOrientation="sensorLandscape" />

        <receiver
            android:name=".componentes.receivers.AdminReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".componentes.receivers.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>